:root {
  --maroon: #8A1538;
  --gray: #B1B3B3;
  --sfsred: #EE2737;
}

header {
  background-color: var(--maroon);
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header img {
  height: 2.4em;
  max-height: 100%;
  margin: 3%;
  align-self: center;
  object-fit: cover;
}
.navbar-wrapper {
  display: flex;
  font-size: 1.5em;
  color: white;
  font-weight: 400;
  align-items: center;
}
.navbar-item {
  margin-left: .7em;
  margin-right: .7em;
}
.navbar-item:hover {
  color: var(--gray);
}
.navbar-wrapper:last-child {
  margin-right: 0;
}
#dropdownMenu-toggle {
  display: none;
}
#dropdownMenu-toggle:hover {
  color: var(--gray);
}
.dropdownMenu-item {
  display: none;
}
#dropdownMenu-wrapper {
  display: none;
}
/* CSS FOR DROPDOWN MENU AND FOR COLLAPSING LAST ELEMENT*/
@media (max-width: 1100px) {
  .item-6 {
    display: none;
  }
  .dropdownitem-6 {
    display: flex;
  }
  #dropdownMenu-toggle {
    display: flex;
    align-items: center;
    font-size: 3.2em;
    margin-bottom: .1em;
    color: white;
    padding: .5em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdownMenu-item {
    padding: .3em;
  }
  #dropdownMenu-wrapper {
    display: none;
    background-color: var(--maroon);
    color: var(--sfsred);
    flex-direction: column;
    float: right;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    font-size: 1.6em;
  }
}
/* CSS FOR SECOND-LAST ELEMENT */
@media (max-width: 900px) {
  .item-5 {
    display: none;
  }
  .dropdownitem-5 {
    display: flex;
  }
}
/* CSS FOR THIRD-LAST ELEMENT*/
@media (max-width: 800px) {
  .item-4 {
    display: none;
  }
  .dropdownitem-4 {
    display: flex;
  }
}
/* CSS FOR COLLAPSING ALL ELEMENTS */
@media (max-width: 700px) {
  .item-3 {
    display: none;
  }
  .dropdownitem-3 {
    display: flex;
  }
  .item-2 {
    display: none;
  }
  .dropdownitem-2 {
    display: flex;
  }
  .item-1 {
    display: none;
  }
  .dropdownitem-1 {
    display: flex;
  }
}
.featuredPages-wrapper {
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 15% 40% 30%;
  grid-gap: 3em;
}
.featuredPage {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
.featuredPage h1 {
  padding: 1%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -.3em;
  color: white;
}
.girditem-1 {
  min-width: fit-content;
  padding: 3%;
  padding-left: 1em;
  border-radius: 2em;
  margin-right: 2em;
  border: none;
  background-color:var(--maroon);
}
.girditem-1 h2{
  font-weight: 500;
  font-size: 1.5em;
  color: white;
}
.girditem-1 .date {
  text-decoration: underline;
}
.icon {
  margin-right: .3em;
}